[Unit]
Description=PicoClaw Web
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=__PICOCLAW_ROOT__
ExecStart=__PICOCLAW_WEB_BIN__ --no-browser __PICOCLAW_CONFIG__
Restart=always
RestartSec=3
Environment=PICOCLAW_HOME=__PICOCLAW_ROOT__

[Install]
WantedBy=multi-user.target
